#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  .generator {
    background-image: url("../assets/generator.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 300px;
    height: 87px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: 0;
  
    font-family: "breath";
    text-align: center;
    color: white;
    font-size: 1.8em;
    letter-spacing: 0.04em;
    border-radius: 5px;
  }
  .generator:hover {
    background-image: url("../assets/generator-hover.png");
    transform: scale(1.1);
    font-size: 2em;
    letter-spacing: 0.04em;
  
    }
  .generator:active {
    transform: scale(1);
    color: white;
  }
  .selection {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
    font-size: 1.5em;
  }
  img.game-system {
    margin: 30px;
    width: 380px;
    height: auto;
  }
  .description {
    margin-bottom: 10px;
  }
  
  @font-face {
    font-family: "Breath";
    src: url("../assets/breath.otf");
  }